.products__card {
  background-color: #f9f8f8;
  border: none;
  border-radius: 10px;
  max-width: 400px;
  max-height: 350px;
  padding-bottom: 80px;
}
.products__img {
  margin: 0 auto;
  height: 90%;
    width: 90%;
    object-fit: cover;  
    border-radius: 20px;

}
.about_product {
  display: flex;
  justify-content: space-between;
}

.products__name {
  margin-top: 4px;
  margin-bottom: 12px;
  padding-left: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1, 6;
}
.products__price {
  margin-right: 80px;
  padding-left: 24px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1, 8;
}

.button {
  margin: auto 24px;
  max-width: 400px;
  padding: 8px;
  height: 36px;
  border-radius: 10px;
}
.button:hover,
.button:focus {
  color: aliceblue;
  background-color: #2196f3;
  border: inherit;
}
